<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<div id="invoice">
  <div class="invoice overflow-hidden">
    <div style="min-width: 200px">
      <button type="button" style="float: right;" class="btn btn-primary" (click)="print($event)">Print Invoice
        <i class="fas fa-file-invoice-dollar" arial-hidden="true"></i></button>
      <header>
        <div class="row">
          <div class="col">
            <a target="_blank">
              <img height="70px" width="70px" src="/assets/2.jpeg" data-holder-rendered="true" />
            </a>
          </div>
          <div class="col company-details">
            <h2 class="name">
              <a target="_blank">
                <b style="color: blue;">DELIGHT RO POINT</b>
              </a>
            </h2>
            <div>RZ 97 Pradhan Chowk , Near PostOffice Sadh Nagar </div>
            <div> Palam Colony, New Delhi</div>
            <div>+919868955523</div>
            <div>mk2101979@gmail.com</div>
          </div>
        </div>
      </header>
      <main>
        <div class="row contacts">
          <div class="col invoice-to">
            <div class="text-gray-light">INVOICE TO:</div>
            <h2 class="to">{{name}}</h2>
            <div class="address">{{address}}</div>
            <div class="email"><a href="{{mailid}}">{{mailid}}</a></div>
          </div>
          <div class="col invoice-details">
            <h1 class="invoice-id"><b>INVOICE-NO - {{ticketno}}</b></h1>
            <div class="date">Date of Invoice: {{dateofpurchase}}</div>
            <div class="date">TicketNo: {{ticketno}}</div>
            <div class="date">ResolutionDate: {{dateofresolvingissue}}</div>
          </div>
        </div>
        <table class="table table-striped">
          <thead class="thead-light">
            <tr>
              <th>#</th>
              <th class="text-left">PRODUCT NAME</th>
              <th class="text-right">QUANTITY</th>
              <th class="text-right">SPARE-PART</th>
              <th class="text-right" width>TOTAL PRICE &nbsp;&nbsp;&nbsp;</th>
            </tr>
          </thead>
          <tbody >
            <tr>
              <td class="no">{{count}}</td>
              <td class="text-left">
                <h3>
                  <a target="_blank">
                    {{productname}}
                  </a>
                </h3>
              </td>
              <td class="unit"> 1</td>
              <td class="qty"> {{sparepart}}</td>
              <td class="total"> {{charge}}</td>
            </tr>
          </tbody>
          <tfoot>
         
            <tr>
              <td colspan="2"></td>
              <td colspan="2">GST </td>
              <td>{{tax}}%</td>
            </tr>
            <tr>
              <td colspan="2"></td>
              <td colspan="2">TECHNICIAN-COST</td>
              <td>{{techniciancost}}</td>
            </tr>
            <tr>
              <td colspan="2"></td>
              <td colspan="2">TOTAL-AMOUNT</td>
              <td>Rs.{{totalcost}}</td>
            </tr>
            <tr>
              <td colspan="2"></td>
              <td colspan="2">PAID-AMOUNT</td>
              <td>Rs.{{paidamount}}</td>
            </tr>
            <tr>
              <td colspan="2"></td>
              <td colspan="2">BALANCE</td>
              <td>Rs.{{remainingamount}}</td>
            </tr>
          </tfoot>
        </table>
        <div class="notices">
          <div>NOTICE:</div>
          <div> <img height="70px" width="70px" src="/assets/img/qrcode.png" data-holder-rendered="true" /> </div>
          <br>
          <div class="notice"> <b>ThankYou for Choosing Business with Us</b></div>
        </div>
      </main>

    </div>
  </div>
</div>