#invoice{
    padding: 10px;
    margin-top: 0%;
   width: 210mm;
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
    height: 500px;
    display: block;
}

.invoice {
    position: relative;
    background-color: #FFF;
    min-height: 50px;
    padding: 10px
}

.invoice header {
    padding: 10px 0;
    margin-bottom: 20px;
    border-bottom: 1px solid #3989c6
}

.invoice .company-details {
    text-align: right
}

.invoice .company-details .name {
    margin-top: 0;
    margin-bottom: 0
}

.invoice .contacts {
    margin-bottom: 20px;
    color: #020202
    
}

.invoice .invoice-to {
    text-align: left
}

.invoice .invoice-to .to {
    margin-top: 0;
    margin-bottom: 0
}

.invoice .invoice-details {
    text-align: right
}

.invoice .invoice-details .invoice-id {
    margin-top: 0;
    font-size: medium;
    color: #0e6bad
}

.invoice main {
    padding-bottom: 10px
}

.invoice main .thanks {
    margin-top: 0px;
    font-size: 2.5em;
    margin-bottom: 0px;
    color: tomato;
}

.invoice main .notices {
    padding-left: 6px;
    border-left: 6px solid #011a2c;
    color: blue;
}

.invoice main .notices .notice {
    font-size: 1.8em
}

.invoice table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 20px
}

.invoice table td,.invoice table th {
    padding: 3px;
    background: #eee;
    border-bottom: 1px solid #fff
}

.invoice table th {
    white-space: nowrap;
    font-weight: 400;
    font-size: 16px
}

.invoice table td h3 {
    margin: 0;
    font-weight: 400;
    color: #3989c6;
    font-size: 1.2em
}

.invoice table .qty,.invoice table .total,.invoice table .unit {
    text-align: right;
    font-size: 1.2em
}

.invoice table .no {
    color: #fff;
    font-size: 1.6em;
    background: #3989c6
}

.invoice table .unit {
    background: #ddd
}

.invoice table .total {
    text-decoration-color:blue
}

.invoice table tbody tr:last-child td {
    border: none
}

.invoice table tfoot td {
    background: 0 0;
    text-align: right;
    padding: 5px 5px;
    font-size: 1.2em;
   
}

.invoice table tfoot tr:first-child td {
    border-top: none
}

.invoice table tfoot tr:last-child td {
    color: #3989c6;
    font-size: 1.4em;
    border-top: 1px solid #011a2c
}

.invoice table tfoot tr td:first-child {
    border: none
}

.invoice footer {
    width: 50%;
    text-align: center;
    color: #777;
    border-top: 1px solid #aaa;
    padding: 8px 0
}


 