<div class="jumbotron jumbotron-fluid ">
  <div class="col-lg">
    <h1 class="site-heading text-center text-white d-none d-lg-block">
      <span class="site-heading-upper text-primary mb-3"><i class="fas fa-hand-holding-water"
          arial-hidden="true"></i><b>Delight RO
          Services</b></span>
      <span class="site-heading-lower" *ngIf="showMsg">(<u>Delight RO Services</u>)</span>
    </h1>
  </div>

  <div class="container">
    <div class="col-lg">
      <h1 class="site-heading text-center text-white d-none d-lg-block">
        <div class="btn-group">
          <button type="button" class="btn-info btn-lg" routerLink="/dashboard"><i class="far fa-edit"
              arial-hidden="true"></i>Dashboard</button>
          <button type="button" class="btn-info btn-lg" routerLink="/employeedetails"><i class="fas fa-users"
              arial-hidden="true"></i> Employee Details</button>
          <button type="button" class="btn-info btn-lg" routerLink="/todo"><i class="fa fa-tasks"
              arial-hidden="true"></i> To-Do List</button>
          <button type="button" class="btn-info btn-lg" routerLink="/customer"><i class="far fa-edit"
              arial-hidden="true"></i> Customer Details</button>
          <button type="button" class="btn-info btn-lg" routerLink="/onlinecustomer"><i class="far fa-edit"
              arial-hidden="true"></i>Online Customer Details</button>
        </div>
      </h1>
    </div>
  </div>
</div>

<div class="row">

  <div class="col-lg-5">
    <div class="container">
      <div class="card bg-light text-dark">
        <div class="card-body">
          <!-- add product form -->
          <form>
            <h3>Add New Product:</h3>
            <div class="form-group">
              <label>Name:</label>
              <input type="text" name="name" value="{{name}}" class="form-control" [(ngModel)]="name" maxlength="15"
                onkeypress="return /^[a-zA-Z ]*$/i.test(event.key)">
            </div>

            <div class="form-group">
              <label>MobileNo:</label>
              <input type="text" name="mobileno" value="{{mobileno}}" class="form-control" [(ngModel)]="mobileno"
                maxlength="10" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
            </div>
            <div class="form-group">
              <label>Email-Id:</label>
              <input type="text" name="mailid" value="{{mailid}}" class="form-control" [(ngModel)]="mailid"
                maxlength="30">
            </div>
            <div class="form-group">
              <label>DateOfPurchase:</label>
              <input type="date" name="dateofpurchase" value="{{dateofpurchase}}" class="form-control"
                [(ngModel)]="dateofpurchase" maxlength="4" onkeypress="return /^[a-zA-Z ]*$/i.test(event.key)">
            </div>
            <div class="form-group">
              <label>Address:</label>
              <input type="text" name="address" value="{{address}}" class="form-control" [(ngModel)]="address"
                maxlength="30">
            </div>
          </form>
          <input type="submit" id="submit" class="btn btn-success btn-lg active" (click)="addItem()" value="AddItem"
            style="text-align: center; margin: 0 inherit;"  [disabled]="addproducts"/>
          <div class="form-inline">
            &nbsp; &nbsp; &nbsp;
            <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
              <div formArrayName="productPurchaseds" *ngFor="let a of myForm.get('productPurchaseds').controls; let i = index">
                <div [formGroupName]="i" style="margin-bottom: 10px;" class="form-inline">
                  <div class="form-group">
                    <div class="col-sm-12">
                      <label>ProdName :</label>
                      <select name="productnames" #selectedValue name="selectedValue" formControlName="productnames"
                        id="productnames" class="form-control form-control-element"
                        (ngModelChange)="onOptionsSelecteds($event)">
                        <option *ngFor="let catalog of productlist" [ngValue]="catalog">
                          {{catalog.productname}}
                        </option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-12">
                      <label>Quantity :</label>
                      <input type="text" name="quantities" size="10" formControlName="quantities">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-12">
                      <label>UnitPrice :</label>
                      <input type="text" name="unitprices" size="10" placeholder="{{unitprices}}"
                        formControlName="unitprices">
                    </div>
                  </div>
                </div>
              </div>
              <input type="submit" id="submit" class="btn btn-danger btn-lg active" (click)="getvalue()"
                value="AddElement" style="text-align: center;; margin: 0 inherit;" />
            </form>
            <!-- <div class="form-group">
              <div class="col-sm-12">
                <label>TotalAmount:</label>
                <input type="text" name="totalpriceData" value="{{totalpriceData}}" class="form-control"
                  [(ngModel)]="totalpriceData" maxlength="4" onkeyup="this.value=this.value.replace(/[^\d]/,'')"
                  disabled>
              </div>
            </div>
          </div> -->
          <br>
          <div class="form-inline">
            <div class="form-group">
              <div class="col-sm-12">
                <label>OtherCharges:</label>
                <input type="text" name="othercharges" value="{{othercharges}}" class="form-control"
                  [(ngModel)]="othercharges" (ngModelChange)="calcDatas($event)" maxlength="6"
                  onkeyup="this.value=this.value.replace(/[^\d]/,'')">
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-12">
                <label>GSTRate:</label>
                <input type="text" name="gstrate" value="{{gstrate}}" class="form-control" [(ngModel)]="gstrate"
                  maxlength="2" (ngModelChange)="calcDatasgst($event)"
                  onkeyup="this.value=this.value.replace(/[^\d]/,'')">
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-12">
                <label>OtherTaxRate:</label>
                <input type="text" name="othertaxrate" value="{{othertaxrate}}" class="form-control"
                  [(ngModel)]="othertaxrate" (ngModelChange)="calcDatasotheretaxrate($event)" maxlength="2"
                  onkeyup="this.value=this.value.replace(/[^\d]/,'')">
              </div>
            </div>
            <!-- <div class="form-group">
              <div class="col-sm-12">
                <label>FullAmount:</label>
                <input type="text" name="totalpriceDatas" value="{{totalpriceDatas}}" class="form-control"
                  [(ngModel)]="totalpriceDatas" maxlength="5" onkeyup="this.value=this.value.replace(/[^\d]/,'')"
                  disabled>
              </div>
            </div> -->
            <div class="form-group">
              <div class="col-sm-12">
                <label>PaidAmount:</label>
                <input type="text" name="paidamount" value="{{paidamount}}" class="form-control"
                  [(ngModel)]="paidamount" (ngModelChange)="calcDatapendingamount($event)" maxlength="5"
                  onkeyup="this.value=this.value.replace(/[^\d]/,'')">
              </div>
            </div>
          </div>
          <br>
          <!-- <div class="form-inline">
            <div class="form-group">
              <div class="col-sm-12">
                <label>BalanceAmount:</label>
                <input type="text" name="balanceamount" value="{{balanceamount}}" class="form-control"
                  [(ngModel)]="balanceamount" maxlength="4" onkeyup="this.value=this.value.replace(/[^\d]/,'')"
                  disabled>
              </div>
            </div>
            <br>
          </div> -->
          <br>
          <b>EmiApplicable</b> :- <input (change)="fieldsChange($event)" value="angular" type="checkbox" />
          <br>
          <br>
          <div class="form-inline" *ngIf="emidata">
            <div class="form-group">
              <div class="col-sm-12">
                <label>NoOfMonths:</label>
                <input type="text" name="noofmonths" value="{{noofmonths}}" class="form-control"
                  [(ngModel)]="noofmonths" (ngModelChange)="installmentamountdata($event)" maxlength="2"
                  onkeyup="this.value=this.value.replace(/[^\d]/,'')">
              </div>
            </div>
            <br>
          </div>
            <!-- <div class="form-group">
              <div class="col-sm-12">
                <label>InstallmentAmount:</label>
                <input type="text" name="installmentamount" value="{{installmentamount}}" class="form-control"
                  [(ngModel)]="installmentamount" maxlength="5" onkeyup="this.value=this.value.replace(/[^\d]/,'')"
                  disabled>
              </div>
            </div>
          </div> -->
          <br>
          <br>
          <input type="submit" id="submit" class="btn btn-primary btn-lg active" (click)="updateRequest($event)"
            value="Save" style="width: 360px; margin: 0 auto;"  [disabled]="onsubmit"  />
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
      </div>
    </div>
  </div>
</div>