<div class="table-content">
  <h3 style="text-align: center;"><b>Employee Details</b></h3>
  <div class="col-md-12">
    <div class="search_divs">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal"
        >AssignWork <i class="	fas fa-user-edit"></i></button>
        &nbsp;<button type="button" class="btn btn-primary" 
        >Check Every Task <i class="	fas fa-user-edit"></i></button>
    </div>
  </div>
  <table class="table table-striped " id="customers">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>PhoneNo</th>
      <th>AdharNo</th>
      <th>PanNo</th>
      <th>Joined Date</th>
      <th>Delete</th>
    </tr>
    <tr class="pointer" *ngFor="let item of employeedetailsList">
      <td>{{item.id}}</td>
      <td>{{item.name}}</td>
      <td>{{ item.mobileno }}</td>
      <td> {{item.adharno}}</td>
      <td> {{item.joineddate}}</td>
      <td> {{item.pancardno}}</td>
      <td><button type="button" class="btn btn-danger" id="{{item.id}}" (click)="delete($event)">Delete<i
            class="	fas fa-user-times"></i></button></td>
    </tr>
  </table>
  <div class="paginateDiv">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
</div>

<div id="myModal" class="modal fade">
  <div class="modal-dialog modal-confirm">
    <div class="modal-content">
      <div class="modal-body text-center">
        <div class="modal-body">
          <form>
            <h2><b>Assign Task!!</b></h2>
            <br>
            <div class="form-group">
              <label for="email">Select Name:-&nbsp;&nbsp;</label>
              <select [(ngModel)]="orderstatusss" name="status" placeholder="select"
                (ngModelChange)="onOptionsSelecteds()">
                <option *ngFor="let catalog of catalogsdatas" [ngValue]="catalog">
                  {{catalog}}
                </option>
              </select>
            </div>
            <div class="form-group">
              <label for="email">Date</label>
              <input type="date" class="form-control" id="email" name="email" aria-describedby="email" required
                placeholder="{{emailid}}" [(ngModel)]="emailid">
            </div>
            <div class="form-group">
              <label for="message">Task Description</label>
              <textarea class="form-control" id="message" rows="3" name="descriptions" required
                placeholder="{{descriptions}}" [(ngModel)]="descriptions"></textarea>
            </div>
            <div class="mx-auto">
              <button type="submit" class="btn btn-primary text-right" (click)="savefeedback($event)">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>