.pointer{cursor: pointer;}

#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 10px;
  }
  .modal-confirm {		
    color: #434e65;
    width: 525px;
  }
  .modal-confirm .modal-content {
    padding: 20px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
  }
  .modal-confirm .modal-header {
    background: #47c9a2;
    border-bottom: none;   
    position: relative;
    text-align: left;
    padding: 20px;
  }
  .modal-confirm h4 {
    text-align: center;
    font-size: 36px;
    margin: 10px 0;
  }
  .modal-confirm .form-control, .modal-confirm .btn {
    min-height: 30px;
    min-width: 10px;
    border-radius: 1px; 
  }
  .modal-confirm .close {
    position: absolute;
    top: 15px;
    right: 15px;
    color: #fff;
    text-shadow: none;
    opacity: 0.5;
  }
  .modal-confirm .close:hover {
    opacity: 0.8;
  }
  .modal-confirm .icon-box {
    color: #fff;		
    width: 95px;
    height: 95px;
    display: inline-block;
    border-radius: 50%;
    z-index: 9;
    border: 5px solid #fff;
    padding: 15px;
    text-align: center;
  }
  .modal-confirm .icon-box i {
    font-size: 64px;
    margin: 4px 0 0 -17px;
  }
  .modal-confirm.modal-dialog {
    margin-left: -220px;
  }
  .modal-confirm .btn, .modal-confirm .btn:active {
    color: #fff;
    border-radius: 4px;
    background: #eeb711 !important;
    text-decoration: none;
    transition: all 0.4s;
    line-height: normal;
    border-radius: 30px;
    margin-top: 10px;
    padding: 6px 6px;
    border: none;
  }
  .modal-confirm .btn:hover, .modal-confirm .btn:focus {
    background: #eda645 !important;
    outline: none;
  }
  .modal-confirm .btn span {
    margin: 1px 3px 0;
    float: left;
  }
  .modal-confirm .btn i {
    margin-left: 1px;
    font-size: 20px;
    float: right;
  }
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    padding-top: 6px;
    padding-bottom: 6px;
    text-align: center;
    background-color: green;
    color: white;
  }
  thead>tr>th {
    cursor: pointer;
  }
  .table-content {
  display: block;
  margin-top: 20px;
    margin-left: 12px;
    margin-right: 12px;
  
  }
  .search_div {
  float: right;
  margin-bottom: 30px;
  border: 2px solid;
  border-radius: 25px;
  background: none;
  padding: 2px;
  }
  .search_icon{
  padding: 3px 34px 3px 10px;
  border: none;
  background: none;
  outline: none;
  }
  
  .search_icon::-webkit-input-placeholder { 
  font-family: FontAwesome;
  font-weight: normal;
  overflow: visible;
  vertical-align: top;
  display: inline-block !important;
  padding-left: 5px;
  padding-top: 2px;
  color: hsl(9, 40%, 60%);
  }
  
  .search_icon::-moz-placeholder  { 
  font-family: FontAwesome;
  font-weight: normal;
  overflow: visible;
  vertical-align: top;
  display: inline-block !important;
  padding-left: 5px;
  padding-top: 2px;
  color: hsl(9, 40%, 60%);
  }
  
  .search_icon:-ms-input-placeholder  { 
  font-family: FontAwesome;
  font-weight: normal;
  overflow: visible;
  vertical-align: top;
  display: inline-block !important;
  padding-left: 5px;
  padding-top: 2px;
  color: hsl(9, 40%, 60%);
  }
  #PerPage {
  padding: 5px 15px;
  border: 1px solid;
  background: none;
  outline: none; 
  }
  .items_per_page {
    float: left;
  }
  #PerPage option:hover { background: green; }
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: green;
  }
  .search_icon::placeholder {
    color:green;
    opacity: 1; /* Firefox */
  }
  
  .search_icon:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: green;
  }
  
  .search_icon::-ms-input-placeholder { /* Microsoft Edge */
   color:green;
  }
  .items_per_page_text {
      font-size: 15px;
      margin-right: 7px;
  }
  .paginateDiv {
      text-align: right;
  }
  .ngx-pagination .current {
      background: green !important;
      border-radius: 25px;
  }
  .remarksDiv .text_area{
    display: inline-flex;
  }
  .remarksDiv .remarks_text{
     display: inline-block
  }
  .download-file  {
   cursor: pointer;
  }