* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    background-color: rgb(60, 243, 14);
    overflow-x: scroll;   
overflow-y: hidden;
}
.modal-confirm {		
	color: #434e65;
	width: 525px;
}
.modal-confirm .modal-content {
	padding: 20px;
	font-size: 16px;
	border-radius: 5px;
	border: none;
}
.modal-confirm .modal-header {
	background: #47c9a2;
	border-bottom: none;   
	position: relative;
	text-align: left;
	padding: 20px;
}
.modal-confirm h4 {
	text-align: center;
	font-size: 36px;
	margin: 10px 0;
}
.modal-confirm .form-control, .modal-confirm .btn {
	min-height: 40px;
	border-radius: 3px; 
}
.modal-confirm .close {
	position: absolute;
	top: 15px;
	right: 15px;
	color: #fff;
	text-shadow: none;
	opacity: 0.5;
}
.modal-confirm .close:hover {
	opacity: 0.8;
}
.modal-confirm .icon-box {
	color: #fff;		
	width: 95px;
	height: 95px;
	display: inline-block;
	border-radius: 50%;
	z-index: 9;
	border: 5px solid #fff;
	padding: 15px;
	text-align: center;
}
.modal-confirm .icon-box i {
	font-size: 64px;
	margin: -4px 0 0 -4px;
}
.modal-confirm.modal-dialog {
	margin-left: -220px;
}
.modal-confirm .btn, .modal-confirm .btn:active {
	color: #fff;
	border-radius: 4px;
	background: #eeb711 !important;
	text-decoration: none;
	transition: all 0.4s;
	line-height: normal;
	border-radius: 30px;
	margin-top: 10px;
	padding: 6px 20px;
	border: none;
}
.modal-confirm .btn:hover, .modal-confirm .btn:focus {
	background: #eda645 !important;
	outline: none;
}
.modal-confirm .btn span {
	margin: 1px 3px 0;
	float: left;
}

nav,
.wrapper {
    padding: 10px 50px
}

nav .logo a {
    color: #000;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none
}

nav div.ml-auto a {
    text-decoration: none;
    font-weight: 600;
    font-size: 0.8rem
}

header {
    padding: 20px 0px
}

header .active {
    font-weight: 700;
    position: relative
}

header .active .fa-check {
    position: absolute;
    left: 50%;
    bottom: -27px;
    background-color: #fff;
    font-size: 0.7rem;
    padding: 5px;
    border: 1px solid #008000;
    border-radius: 50%;
    color: #008000
}

.progress {
    height: 2px;
    background-color: #ccc
}

.progress div {
    display: flex;
    align-items: center;
    justify-content: center
}

.progress .progress-bar {
    width: 40%
}
.pointer{cursor: pointer;}

#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 4px;
  }
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: green;
    color: white;
  }
  thead>tr>th {
    cursor: pointer;
  }
  .table-content {
  display: contents;
  margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
  
  }
  .search_div {
  float: right;
  margin-bottom: 30px;
  border: 2px solid;
  border-radius: 25px;
  background: none;
  padding: 2px;
  }
  .search_icon{
  padding: 3px 34px 3px 10px;
  border: none;
  background: none;
  outline: none;
  }
  
  .search_icon::-webkit-input-placeholder { 
  font-family: FontAwesome;
  font-weight: normal;
  overflow: visible;
  vertical-align: top;
  display: inline-block !important;
  padding-left: 5px;
  padding-top: 2px;
  color: hsl(9, 40%, 60%);
  }
  
  .search_icon::-moz-placeholder  { 
  font-family: FontAwesome;
  font-weight: normal;
  overflow: visible;
  vertical-align: top;
  display: inline-block !important;
  padding-left: 5px;
  padding-top: 2px;
  color: hsl(9, 40%, 60%);
  }
  
  .search_icon:-ms-input-placeholder  { 
  font-family: FontAwesome;
  font-weight: normal;
  overflow: visible;
  vertical-align: top;
  display: inline-block !important;
  padding-left: 5px;
  padding-top: 2px;
  color: hsl(9, 40%, 60%);
  }
  #PerPage {
  padding: 5px 15px;
  border: 1px solid;
  background: none;
  outline: none; 
  }
  .items_per_page {
    float: left;
  }
  #PerPage option:hover { background: green; }
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: green;
  }
  .search_icon::placeholder {
    color:green;
    opacity: 1; /* Firefox */
  }
  
  .search_icon:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: green;
  }
  
  .search_icon::-ms-input-placeholder { /* Microsoft Edge */
   color:green;
  }
  .items_per_page_text {
      font-size: 15px;
      margin-right: 7px;
  }
  .paginateDiv {
      text-align: right;
  }
  .ngx-pagination .current {
      background: green !important;
      border-radius: 25px;
  }
  .remarksDiv .text_area{
    display: inline-flex;
  }
  .remarksDiv .remarks_text{
     display: inline-block
  }
  .download-file  {
   cursor: pointer;
  }
#details {
    padding: 30px 50px;
    min-height: 300px
}

input {
    border: none;
    outline: none
}

.form-group .d-flex {
    border: 1px solid rgb(63, 245, 8)
}

.form-group .d-flex input {
    width: 95%
}

.form-group .d-flex:hover {
    color: #000;
    cursor: pointer;
    border: 1px solid #008000
}


input[type="checkbox"]+label {
    font-size: 0.85rem;
    font-weight: 600
}

#address,
#cart,
#summary {
    padding: 20px 50px
}

#address .d-md-flex p.text-justify,
#register p.text-muted {
    margin: 0
}

#register {
    background-color: #d9ecf2
}

#register a {
    text-decoration: none;
    color: #333
}

#cart,
#summary {
    max-width: 500px
}

.h6 {
    font-size: 1.2rem;
    font-weight: 700
}

.h6 a {
    text-decoration: none;
    font-size: 1rem
}

.item img {
    object-fit: cover;
    border-radius: 5px
}

.item {
    position: relative
}

.number {
    position: absolute;
    font-weight: 800;
    color: #fff;
    background-color: #0033ff;
    padding-left: 7px;
    border-radius: 50%;
    border: 1px solid #fff;
    width: 25px;
    height: 25px;
    top: -5px;
    right: -5px
}

.display-5 {
    font-size: 1.2rem
}

#cart~p.text-muted {
    margin: 0;
    font-size: 0.9rem
}

tr.text-muted td {
    border: none
}

.fa-minus,
.fa-plus {
    font-size: 0.7rem
}

.table td {
    padding: 0.6rem
}

.btn.text-uppercase {
    border: 1px solid #333;
    font-weight: 600;
    border-radius: 0px
}

.btn.text-uppercase:hover {
    background-color: #333;
    color: #eee
}

.btn.text-white {
    background-color: #66cdaa;
    border-radius: 0px
}

.btn.text-white:hover {
    background-color: #3cb371
}

.wrapper .row+div.text-muted {
    font-size: 0.9rem
}

.mobile,
#mobile {
    display: none
}

.buttons {
    vertical-align: text-bottom
}

#register {
    width: 50%
}

@media(min-width:768px) and (max-width: 991px) {
    .progress .progress-bar {
        width: 33%
    }

    #cart,
    #summary {
        max-width: 100%
    }

    .wrapper div.h5.large,
    .wrapper .row+div.text-muted {
        display: none
    }

    .mobile.h5,
    #mobile {
        display: block
    }
}

@media(min-width: 576px) and (max-width: 767px) {
    .progress .progress-bar {
        width: 29%
    }

    #cart,
    #summary {
        max-width: 100%
    }

    .wrapper div.h5.large,
    .wrapper .row+div.text-muted {
        display: none
    }

    .mobile.h5,
    #mobile {
        display: block
    }

    .buttons {
        width: 100%
    }
}

@media(max-width: 575px) {
    .progress .progress-bar {
        width: 38%
    }

    #cart,
    #summary {
        max-width: 100%
    }

    nav,
    .wrapper {
        padding: 10px 30px
    }

    #register {
        width: 100%
    }
}

@media(max-width: 424px) {
    body {
        width: fit-content
    }
}

@media(max-width: 375px) {
    .progress .progress-bar {
        width: 35%
    }

    body {
        width: fit-content
    }
}