<div class="table-content">
  <h3 style="text-align: center;"><b>StockProductTable</b></h3>
  <div class="col-md-12">
    <div class="items_per_page">
      <span class="items_per_page_text">Items Per Page</span>
      <select id="PerPage" class="" [(ngModel)]="pageSize">
        <option [ngValue]="5">5</option>
      </select>
    </div>
    <div class="search_div">
      <i class="fa fa-search" aria-hidden="true"></i>
      <input class="search_icon" type="text" name="search" [(ngModel)]="searchText" autocomplete="off"
        placeholder="Search.....">
    </div>
  </div>
  <table class="table table-striped " id="customers">
    <tr>
      <th>Id</th>
      <th>ItemCode</th>
      <th>ItemName</th>
      <th>HSN/CODE</th>
      <th>ItemImagePath</th>
      <th>Description</th>
      <th>ItemLocation</th>
      <!-- <th>DeleteItem</th> -->

    </tr>
    <tr class="pointer" *ngFor="let item of employeedetailsList  ; let i = index" id={{item.id}}
      routerLinkActive="active">
      <td>{{item.id}}</td>
      <td>{{item.itemcode}}</td>
      <td>{{ item.itemname }}</td>
      <td> {{item.hsncode}}</td>
      <td> {{item.itemimage}}</td>
      <td> {{item.description}}</td>
      <td> {{item.itemlocation}}</td>
      <!-- <td><button type="button"  class="btn btn-danger" style="font-size: small;" id="{{item.id}}" (click)="deleteItem($event)">DeleteItem <i
        arial-hidden="true"></i></button></td> -->
    </tr>
  </table>
  <div class="paginateDiv">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
</div>