<div class="wrapper">
    <div class="h2 large" style="text-align: center;"><b>Order Details</b></div>
    <div class="row">
        <div class="col-lg-5 col-md-8 col-sm-10 offset-lg-0 offset-md-2 offset-sm-1">
            <div class="item pr-2" style="text-align: center;"> <img src="./assets/img/cancelled.jpg" alt="" width="100"
                    height="100" *ngIf="cancelledimg"></div>
            <div class="mobile h5">Billing Address</div>
            <div id="details">
                <form>
                    <div class="form-group"> <label class="text-muted">CancelledDate</label> <input type="text"
                            value="{{cancelleddate}}" class="form-control" disabled> </div>
                    <div class="form-group"> <label class="text-muted">CustomerID</label> <input type="text"
                            value="{{id}}" class="form-control" disabled> </div>
                    <div class="form-group"> <label class="text-muted">DateOfPurchase</label> <input type="text"
                            value="{{purchasedate}}" class="form-control" disabled> </div>
                    <div class="form-group"> <label class="text-muted">Name</label> <input type="text" value="{{name}}"
                            class="form-control" disabled> </div>
                    <div class="form-group"> <label class="text-muted">Mobileno</label> <input type="text"
                            value="{{mobileno}}" class="form-control" disabled> </div>
                    <div class="form-group"> <label class="text-muted">EmailId</label> <input type="text"
                            value="{{emailid}}" class="form-control" disabled> </div>
                    <div class="form-group"> <label class="text-muted">PaymentStatus</label> <input type="text"
                            value="{{paymentstatus}}" class="form-control" disabled> </div>
                    <div class="form-group"> <label class="text-muted">DateOfDelivery</label> <input type="text"
                            value="{{dateofdelivery}}" class="form-control" disabled> </div>
                    <div class="form-group"> <label class="text-muted">OrderStatus</label> <input type="text"
                            value="{{orderstatus}}" class="form-control" disabled> </div>
                    <div class="form-group"> <label class="text-muted">PaymentDate</label> <input type="text"
                            value="{{paymentdate}}" class="form-control" disabled> </div>
                    <div class="form-group"> <label class="text-muted">TransactionId</label> <input type="text"
                            value="{{transactionid}}" class="form-control" disabled> </div>
                </form>
            </div>
            <div id="address" class="bg-light rounded mt-3">
                <div class="h5 font-weight-bold text-primary"> Address Details </div>
                <div class="d-md-flex justify-content-md-start align-items-md-center pt-3">
                    <div class="mr-auto"> <b>Home Address</b>
                        <p class="text-justify text-muted">{{address}}</p>
                        <p class="text-uppercase text-muted">{{postalcode}}</p>
                    </div>
                </div>
            </div>

            <div id="address" class="bg-light rounded mt-3">
                <div class="h5 font-weight-bold text-primary"> Customer Feedback </div>
                <div class="d-md-flex justify-content-md-start align-items-md-center pt-3">
                    <div class="mr-auto"> <b>Purchase Feedback </b>
                        <p class="text-justify text-muted">{{description}}</p>
                    </div>
                </div>
            </div>
            <div id="address" class="bg-light rounded mt-3">
                <div class="h5 font-weight-bold text-primary"> Cancellation Feedback </div>
                <div class="d-md-flex justify-content-md-start align-items-md-center pt-3">
                    <div class="mr-auto"> <b>Cancellation Feedback </b>
                        <p class="text-justify text-muted">{{descriptions}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-8 col-sm-10 offset-lg-0 offset-md-2 offset-sm-1 pt-lg-0 pt-3">
            <div id="cart" class="bg-white rounded">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="h6">Order Summary</div>
                </div>
                <div class="d-flex jusitfy-content-between align-items-center pt-3 pb-2 border-bottom"
                    *ngFor="let item of myarray">
                    <div class="item pr-2"> <img src="{{item.imagepath}}" alt="" width="80" height="80">
                        <div class="number">{{item.quantity}}</div>
                    </div>
                    <div class="d-flex flex-column px-3"> <b class="h5">{{item.productname}}</b> </div>
                    <div class="d-flex flex-column px-3"> <b class="h6">WarrantyDays</b> {{item.warrantydays}} </div>
                    <div class="ml-auto"> <b class="h5">Rs.{{item.purchaseamount}}</b> </div>
                    <div class="ml-auto"> <b class="h5">Rs.{{item.totalamount}}</b> </div>
                </div>
                <div class="my-3"> <input type="text" class="w-100 form-control text-center"
                        placeholder="Gift Card or Promo Card"> </div>
                <div class="d-flex align-items-center py-2">
                    <div class="display-5">Total</div>
                    <div class="ml-auto d-flex">
                        <div class="text-primary text-uppercase px-3">IND</div>
                        <div class="font-weight-bold">Rs.{{totalamount}}</div>
                    </div>
                </div>
            </div>
            <div id="summary" class="bg-white rounded py-2 my-4">
                <form>
                    <div class="row">
                        <div class="col-lg-10">
                            <div class="form-group"> <label>PaymentStatus</label>
                                <div class="d-flex jusify-content-start align-items-center rounded p-2">
                                    <select [(ngModel)]="paymentstatusss" name="status" placeholder="select"
                                        (ngModelChange)="onOptionsSelected()" >
                                        <option *ngFor="let catalog of catalogs" [ngValue]="catalog.catalogname">
                                            {{catalog.catalogname}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-10">
                            <div class="form-group"> <label>DateOfDelivery</label>
                                <div class="d-flex jusify-content-start align-items-center rounded p-2">
                                    <input type="date" value="{{dateofdelivery}}" [(ngModel)]="dateofdeliverys"
                                        name="dateofdeliverys"> <span class="fas fa-check text-success pr-2"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-10">
                            <div class="form-group"> <label>OrderStatus</label>
                                <div class="d-flex jusify-content-start align-items-center rounded p-2">
                                    <select [(ngModel)]="orderstatusss" name="status" placeholder="select"
                                    (ngModelChange)="onOptionsSelecteds()" >
                                    <option *ngFor="let catalog of catalogss" [ngValue]="catalog.catalogname">
                                        {{catalog.catalogname}}
                                    </option>
                                </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-10">
                            <div class="form-group"> <label>PaymentDate</label>
                                <div class="d-flex jusify-content-start align-items-center rounded p-2">
                                    <input type="date" value="{{paymentdate}}" [(ngModel)]="paymentdates"
                                        name="paymentdates"> <span class="fas fa-check text-success pr-2"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-10">
                            <div class="form-group"> <label>TransactionId</label>
                                <div class="d-flex jusify-content-start align-items-center rounded p-2">
                                    <input type="text" value="{{transactionid}}" [(ngModel)]="transactionids"
                                        name="transactionids"> <span class="fas fa-check text-success pr-2"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <br>
                <br>
                <button type="button" class="btn btn-success" (click)="updateRequest($event)">UpdateDetails<i
                        class="fa fa-save" style="font-size:20px;color:white"></i></button>
            </div>
        </div>
    </div>
</div>