<!-- heading -->
<div class="jumbotron jumbotron-fluid ">

  <!-- link -->
  <div class="container">
    <div class="col-lg">
      <h1 class="site-heading text-center text-white d-none d-lg-block">
        <div class="btn-group">
          <button type="button" class="btn-info btn-lg" routerLink="/dashboard"><i class="far fa-edit"
              arial-hidden="true"></i>Dashboard</button>
          <button type="button" class="btn-info btn-lg" routerLink="/employeedetails"><i class="fas fa-users"
              arial-hidden="true"></i> Employee Details</button>
          <button type="button" class="btn-info btn-lg" routerLink="/todo"><i class="fa fa-tasks"
              arial-hidden="true"></i> To-Do List</button>
          <button type="button" class="btn-info btn-lg" routerLink="/customer"><i class="far fa-edit"
              arial-hidden="true"></i> Customer Details</button>

        </div>
      </h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-6">
    <div class="container">
      <div class="card bg-light text-dark">
        <div class="card-body">
          <form>
            <h3>Add Employee:</h3>
            <div class="form-group">
              <label>Employee Id :</label>
              <input type="text" name="empid" value="{{empids}}" class="form-control" [(ngModel)]="empid" maxlength="4"
                onkeyup="this.value=this.value.replace(/[^\d]/,'')">
            </div>
            <div class="form-group">
              <label>Name :</label>
              <input type="text" name="name" value="{{names}}" class="form-control" [(ngModel)]="name"
                onkeypress="return /^[a-zA-Z ]*$/i.test(event.key)">
            </div>
            <div class="form-group">
              <label>Mobile No :</label>
              <input type="text" name="mobile" value="{{mobiles}}" class="form-control" [(ngModel)]="mobile"
                maxlength="10" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
            </div>
            <div class="form-group">
              <label>Adhar No :</label>
              <input type="text" name="adhar" value="{{adhars}}" class="form-control" [(ngModel)]="adhar" maxlength="12"
                onkeyup="this.value=this.value.replace(/[^\d]/,'')">
            </div>
            <div class="form-group">
              <label>Pan No :</label>
              <input type="text" name="pan" value="{{pans}}" class="form-control" [(ngModel)]="pan" maxlength="10">
            </div>
            <div class="form-group">
              <label>Joined Date :</label>
              <input type="date" name="pan" value="{{joineddate}}" class="form-control" [(ngModel)]="joinedDate">
            </div>
            <input type="submit" class="btn btn-success mr-2" (click)="clickSubmit(event)">
            <input type="reset" value="Cancel" class="btn btn-danger">
          </form>
        </div>
      </div>
    </div>