<!-- heading -->
<div class="jumbotron jumbotron-fluid ">
  <div class="col-lg">
    <h2 class="site-heading text-center text-white d-none d-lg-block">
      <span class="site-heading-upper text-primary mb-3"><i class="fas fa-hand-holding-water"
          arial-hidden="true"></i><b>Delight RO
          Services</b></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <button type="button" class="btn btn-danger" value="Logout" (click)="logOut($event)">Logout <i
          class="fas fa-lock-open" arial-hidden="true"></i></button>
    </h2>
  </div>
  <!-- link -->
  <div class="container">
    <div class="col-lg">
      <h1 class="site-heading text-center text-white d-none d-lg-block">
        <div class="btn-group">
          <button type="button" class="btn-info btn-lg" routerLink="/dashboard"><i class="far fa-edit"
              arial-hidden="true"></i>Dashboard</button>
          <button type="button" class="btn-info btn-lg" routerLink="/customer"><i class="far fa-edit"
              arial-hidden="true"></i>Service</button>
          <button type="button" class="btn-info btn-lg" routerLink="/servicetable"><i class="far fa-edit"
              arial-hidden="true"></i>ServiceTable</button>
          <button type="button" class="btn-info btn-lg" routerLink="/offlinecustomerdetails"><i class="fa fa-tasks"
              arial-hidden="true"></i> OfflineCustomerDetails</button>
          <button type="button" class="btn-info btn-lg" routerLink="/onlinecustomer"><i class="far fa-edit"
              arial-hidden="true"></i>OnlineCustomerDetails</button>
          <button type="button" class="btn-info btn-lg" routerLink="/addofflinecustomerdata"><i class="far fa-edit"
              arial-hidden="true"></i>AddOfflineustomer</button>
        </div>
      </h1>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-5">
    <div class="container">
      <div class="card bg-light text-dark">
        <div class="card-body">
          <!-- add product form -->
          <h3>Servicing List:</h3>
          <div class="form-group">
            <label>CustomerType:&nbsp;&nbsp;&nbsp;</label>
            <select name="selectedQuantity" id="aantal" class="form-control" [(ngModel)]="datas"
              (ngModelChange)="onOptionsSelectedsdata($event)">
              <option *ngFor="let option of options" [value]="option">{{option}}</option>
            </select>
          </div>
          <div *ngIf="offlinecustomer">
            <div class="form-group">
              <label>EnterInvoiceno :</label>
              <input type="text" name="name"  value="{{invoicenos}}" class="form-control" [(ngModel)]="invoiceno"
                onkeyup="this.value=this.value.replace(/[^\d]/,'')" maxlength="6">
            </div>
            <div class="form-group">
              <label>Mobile No :</label>
              <input type="text" name="mobile" autocomplete="off" value="{{mobiles}}" class="form-control" [(ngModel)]="mobileno"
                maxlength="10" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
            </div>
          </div>
          <div *ngIf="offlinecustomerdata">
            <div class="form-group">
              <label>Name :</label>
              <input type="text" name="name" autocomplete="off" value="{{names}}" class="form-control" [(ngModel)]="name"
                onkeypress="return /^[a-zA-Z ]*$/i.test(event.key)">
            </div>
            <div class="form-group">
              <label>Mobile No :</label>
              <input type="text" name="mobile" autocomplete="off" value="{{mobilenos}}" class="form-control" [(ngModel)]="mobileno"
                maxlength="10" >
            </div>
            <div class="form-group">
              <label>EmailID :</label>
              <input type="text" name="email" autocomplete="off" value="{{mailids}}" class="form-control" [(ngModel)]="mailid"
                maxlength="30" onkeypress="return /^[a-zA-Z ]*$/i.test(event.key)">
            </div>
            <div class="form-group">
              <label>Address :</label>
              <input type="text" name="address" autocomplete="off" value="{{addresss}}" onkeypress="return /^[a-zA-Z ]*$/i.test(event.key)"
                class="form-control" [(ngModel)]="address">
            </div>
            <div class="form-group">
              <label>IssueDescription :</label>
              <input type="text" name="issuedescription" autocomplete="off" value="{{issuedescription}}" 
                class="form-control" [(ngModel)]="issuedescription">
            </div>
            <div class="form-group" *ngIf="productpurchased">
              <label>PurchasedProduct:&nbsp;&nbsp;&nbsp;</label>
              <select class="form-control col-lg-8" #selectedValue name="selectedValue" id="selectedValue"
                [(ngModel)]="productnamesdatas" (ngModelChange)="onOptionsSelectedsdatas($event)">
                <option *ngFor="let catalog of arr" [ngValue]="catalog">
                  {{catalog.productname}}</option>
              </select>
            </div>

            <div class="form-group" *ngIf="productpurchaseds">
              <label>PurchasedProduct:&nbsp;&nbsp;&nbsp;</label>
              <select class="form-control col-lg-8" #selectedValue name="selectedValue" id="selectedValue"
                [(ngModel)]="productnamesdatas" (ngModelChange)="onOptionsSelectedsdatas($event)">
                <option *ngFor="let catalog of arr" [ngValue]="catalog.productnamesdata">
                  {{catalog.productnamesdata}}</option>
              </select>
            </div>
            <div *ngIf="newcustomer">
              <div class="form-group">
                <label>DateOfPurchase :</label>
                <input type="text" name="date" value="{{dateofpurchases}}" class="form-control"
                  [(ngModel)]="dateofpurchases">
              </div>
              <div class="form-group">
                <label>WarrantyStatus:&nbsp;&nbsp;&nbsp;</label>
                <select name="selectedQuantity" id="aantal" autocomplete="off" class="form-control" [(ngModel)]="datass"
                  (ngModelChange)="warrantyStatus($event)">
                  <option *ngFor="let option of optionss" [ngValue]="option">{{option}}</option>
                </select>
              </div>
            </div>
            <div class="form-group" >
              <label>AssignedTo:&nbsp;&nbsp;&nbsp;</label>
              <select class="form-control col-lg-8" #selectedValue name="selectedValue" id="selectedValue"
                [(ngModel)]="productnamesdatas" (ngModelChange)="onOptionsSelectedsdat($event)">
                <option *ngFor="let catalog of arrays" [ngValue]="catalog.name">
                  {{catalog.name}}</option>
              </select>
            </div>
            <div class="form-group">
              <label>Date :</label>
              <input type="date" name="date" autocomplete="off" value="{{dateofpurchases}}" class="form-control"
                [(ngModel)]="dateofservicerequest">
            </div>
            <div class="form-group">
              <label>Model:</label>
              <input type="text" name="model" class="form-control" autocomplete="off" [(ngModel)]="model" maxlength="30"
                onkeypress="return /^[a-zA-Z ]*$/i.test(event.key)">
            </div>
            <div class="form-group">
              <label for="demo_overview_minimal">Type</label>
              <select id="demo_overview_minimal" autocomplete="off" class="form-control" data-role="select-dropdown"
                data-profile="minimal">
                <option selected>Service</option>
              </select>
            </div>
            <div class="form-group" >
              <label>SparePart:&nbsp;&nbsp;&nbsp;</label>
              <select class="form-control col-lg-8" #selectedValue name="selectedValues" id="selectedValues"
                [(ngModel)]="productnamesdatasvalue" (ngModelChange)="onOptionsSelectedsdatass($event)">
                <option *ngFor="let catalog of employeedetailsLists" [ngValue]="catalog">
                  {{catalog.addProductInStock.itemname}}</option>
              </select>
            </div>
            <div class="form-group">
              <label>Charge :</label>
              <input type="text" name="charge" value="{{unitprice}}" class="form-control" autocomplete="off" [(ngModel)]="charge"
                maxlength="6" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
            </div>
            <div class="form-group">
              <label>TechnicianCost :</label>
              <input type="text" name="techniciancost" class="form-control" autocomplete="off" [(ngModel)]="techniciancost" maxlength="6"
                onkeyup="this.value=this.value.replace(/[^\d]/,'')">
            </div>
            <div class="form-group">
              <label>OtherTax :</label>
              <input type="text" name="tax" class="form-control" autocomplete="off" [(ngModel)]="tax" maxlength="6"
                onkeyup="this.value=this.value.replace(/[^\d]/,'')" (ngModelChange)="gettotalcost($event)">
            </div>
            <div class="form-group">
              <label>GetTotalCost :</label>
              <input type="text" name="tax" class="form-control" value="{{totalcostx}}" autocomplete="off" [(ngModel)]="totalcostx" maxlength="6"
                onkeyup="this.value=this.value.replace(/[^\d]/,'')" disabled>
            </div>
            
            <div class="form-group">
              <label>PaidAmount :</label>
              <input type="text" name="paidamount" autocomplete="off" class="form-control" [(ngModel)]="paidamount" maxlength="6"
                onkeyup="this.value=this.value.replace(/[^\d]/,'')">
            </div>
          </div>
          <input type="submit" id="submit" class="btn btn-primary btn-lg active" (click)="submit($event)" value="Save"
          style="width: 360px; margin: 0 auto;" *ngIf="isButtonEnabled"  />
          <input type="submit" id="submit" class="btn btn-primary btn-lg active" (click)="submitdata($event)" value="FinalSubmission"
            style="width: 360px; margin: 0 auto;" *ngIf="isButtonEnabledss"  />
          <input type="submit" id="submit" class="btn btn-success btn-lg active" (click)="submitdatas($event)"
            value="OnlineCustomerDetails" style="width: 360px; margin: 0 auto;" *ngIf="isButtonEnableddata" />
          <input type="submit" id="submit" class="btn btn-success btn-lg active" (click)="submits($event)"
            value="OfflineCustomerDetails" style="width: 360px; margin: 0 auto;" *ngIf="isButtonEnableds" />
        </div>
      </div>
      <br>
    </div>
  </div>
</div>f