<div class="table-content">
  <h3 style="text-align: center;"><b>OuwardStockDetails</b></h3>
  <div class="col-md-12">
    <div class="items_per_page">
      <span class="items_per_page_text">Items Per Page</span>
      <select id="PerPage" class="" [(ngModel)]="pageSize">
        <option [ngValue]="5">5</option>
      </select>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-xs-12 col-12 col-md-4 form-group">
      <input type="text" placeholder="Datepicker" class="form-control" [(ngModel)]="purchasedates"
        (ngModelChange)="dateofpurchasedetails()" bsDatepicker>
    </div>
  </div>
  <ul *ngIf="datas">
    ProdName:- {{getdata}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Quantity&nbsp;&nbsp;&nbsp;&nbsp; :- {{getdatas}}
  </ul>
  <table class="table table-striped " id="customers">
    <tr>
      <th>DateofPurchase</th>
      <th>ProductName</th>
      <th>Quantity</th>
      <th>UnitPrice</th>
      <th>TotaLAmount</th>
      <th>TypeOfCustomer</th>
    </tr>
    <tr class="pointer" *ngFor="let item of offlinecustomer  ; let i = index" id={{item.id}} routerLinkActive="active">
      <td> {{item.productnames.dateofpurchase}}</td>
      <td>{{item.productnamesdata}}</td>
      <td>{{item.quantities}}</td>
      <td>{{ item.unitprices }}</td>
      <td> {{item.productnames.totalamount}}</td>
      <td> {{item.productnames.typeofcustomer}}</td>
    </tr>
  </table>
  <ul *ngIf="data">
    ProdName:- {{getdatass}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   Quantity&nbsp;&nbsp;&nbsp;&nbsp;  :- {{getdatassss}}
  
  </ul>
  <table class="table table-striped " id="customers">
    <tr>
      <th>DateofPurchase</th>
      <th>ProductName</th>
      <th>Quantity</th>
      <th>UnitPrice</th>
      <th>TotaLAmount</th>
      <th>TypeOfCustomer</th>
    </tr>
    <tr class="pointer" *ngFor="let item of onlinecustomer  ; let i = index" id={{item.id}} routerLinkActive="active">
      <td> {{item.dateofpurchase}}</td>
      <td>{{item.productname}}</td>
      <td>{{item.quantity}}</td>
      <td>{{ item.purchaseamount }}</td>
      <td>{{ item.totalamount }}</td>
      <td> {{item.typeofcustomer}}</td>
    </tr>
  </table>
  <div class="paginateDiv">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
</div>