<div class="jumbotron jumbotron-fluid ">
  <div class="col-lg">
    <h1 class="site-heading text-center text-white d-none d-lg-block">
      <!-- <img src="assets/logo1.png" height="100px" width="150px"> -->
      <span class="site-heading-upper text-primary mb-3"><i class="fas fa-hand-holding-water"
          arial-hidden="true"></i><b>Delight RO
          Services</b></span>
      <!-- <span class="site-heading-upper text-primary mb-3"><i class="fas fa-store" arial-hidden="true"></i>{{title}}</span> -->
      <!-- <span class="site-heading-lower" *ngIf="showMsg">(<u>{{storenm}}</u>)</span> -->
      <span class="site-heading-lower" *ngIf="showMsg">(<u>Delight RO Services</u>)</span>
    </h1>
  </div>

  <h1 class="site-heading text-center text-white d-none d-lg-block">
    <div class="btn-group">
      <button type="button" class="btn-info btn-lg" routerLink="/employeedetails"><i class="fas fa-users"
          arial-hidden="true"></i> Employee Details</button>
      <button type="button" class="btn-info btn-lg" routerLink="/customer"><i class="far fa-edit"
          arial-hidden="true"></i> Customer Details</button>
      <!-- <button type="button" class="btn-info btn-lg" routerLink="/addProduct"><i class="far fa-edit"
          arial-hidden="true"></i> Add Products</button> -->
      <button type="button" class="btn-info btn-lg" routerLink="/customerwebsite"><i class="far fa-edit"
          arial-hidden="true"></i> Website</button>
      <button type="button" class="btn-info btn-lg" routerLink="/stockdetails"><i class="far fa-edit"
          arial-hidden="true"></i> StockDetails</button>
            <button type="button" class="btn-info btn-lg" routerLink="/returnproductpage"><i class="far fa-edit"
              arial-hidden="true"></i> ReturnProductPage</button>
    </div>
  </h1>
</div>
<div class="inline">

  <div style="display: block;">
    <canvas baseChart width="500" height="200" [datasets]="lineChartData" [labels]="lineChartLabels"
      [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType"
      [plugins]="lineChartPlugins">
    </canvas>
  </div>
</div>