
.chart{
    width: 50%;
    float: left;
    padding: 40px;
    height: 70%;
}
.chartInline{
    border: 3px solid #fff;
    padding: 20px;
}
.w3-lobster {
    font-family: "Lobster", serif;
    text-align: center;
    color: rgb(19, 4, 231);
  }

  .btn-info btn-lg{
        color: red; // CSS rules for all these buttons
  }
  
  /* Style the active class (and buttons on mouse-over) */
  .active, .btn:hover {
    background-color: #666;
    color: white;
  }