<div class="jumbotron jumbotron-fluid ">
  <div class="col-lg">
    <h1 class="site-heading text-center text-white d-none d-lg-block">
      <span class="site-heading-upper text-primary mb-3"><i class="fas fa-hand-holding-water"
          arial-hidden="true"></i><b>Delight RO
          Services</b></span>
      <span class="site-heading-lower" *ngIf="showMsg">(<u>Delight RO Services</u>)</span>
    </h1>
  </div>

  <div class="container">
    <div class="col-lg">
      <h1 class="site-heading text-center text-white d-none d-lg-block">
        <div class="btn-group">
          <button type="button" class="btn-info btn-lg" routerLink="/dashboard"><i class="far fa-edit"
              arial-hidden="true"></i>AddProductInStock</button>
          <button type="button" class="btn-info btn-lg" routerLink="/stockproducttable"><i class="fas fa-users"
              arial-hidden="true"></i>StockProductList</button>
          <button type="button" class="btn-info btn-lg" routerLink="/inwardstock"><i class="fa fa-tasks"
              arial-hidden="true"></i>InwardStock</button>
          <button type="button" class="btn-info btn-lg" routerLink="/outwardstockdetails"><i class="far fa-edit"
              arial-hidden="true"></i> RemainingStock</button>
        </div>
      </h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-5">
    <div class="container">
      <div class="card bg-light text-dark">
        <div class="card-body">
          <!-- add product form -->
          <h3>Add New Product in Stock:</h3>
          <div class="form-group">
            <label>ItemsAvailable:&nbsp;&nbsp;&nbsp;</label>
            <select class="form-control col-lg-8" #selectedValue name="selectedValue" id="selectedValue"
              [(ngModel)]="productnames" (ngModelChange)="onOptionsSelecteds($event)">
              <option [ngValue]="">
                Select-One
              </option>
              <option *ngFor="let catalog of categories" [ngValue]="catalog">{{catalog.itemname}}</option>
            </select>
          </div>
          <div class="form-group">
            <label>PurchasedFrom:</label>
            <input type="date" name="dateofpurchase" class="form-control" [(ngModel)]="dateofpurchase"
              onkeypress="return /^[a-zA-Z ]*$/i.test(event.key)">
          </div>
          <div class="form-group">
            <label>PurchasedFrom:</label>
            <input type="text" name="purchasedfrom" class="form-control" [(ngModel)]="purchasedfrom"
              onkeypress="return /^[a-zA-Z ]*$/i.test(event.key)">
          </div>
          <div class="form-group">
            <label>Quantity:</label>
            <input type="text" name="quantity" class="form-control" [(ngModel)]="quantity" maxlength="7"
              onkeyup="this.value=this.value.replace(/[^\d]/,'')">
          </div>

          <div class="form-group">
            <label>UnitPrice:</label>
            <input type="text" name="unitprice" class="form-control" [(ngModel)]="unitprice"
              onkeyup="this.value=this.value.replace(/[^\d]/,'')">
          </div>
          <div class="form-group">
            <label>TaxRate:</label>
            <input type="text" name="taxrate" class="form-control" [(ngModel)]="taxrate"
              onkeyup="this.value=this.value.replace(/[^\d]/,'')">
          </div>
          <input type="submit" id="submit" class="btn btn-primary btn-lg active" (click)="updateRequest($event)"
            value="Save" style="width: 360px; margin: 0 auto;" [disabled]="isButtonEnabled" />
        </div>
      </div>
      <br>
    </div>
  </div>
</div>