<body>
  <h1>AssignedTask</h1>
  <table>
    <tr id="header">
      <th>TicketNo</th>
      <th>Name</th>
      <th>MobileNo</th>
      <th>Issue</th>
      <th>ProductName</th>
    </tr>
    <tr *ngFor="let item of data">
      <td>{{item.ticketno}} </td>
      <td>{{item.name}} </td>
      <td>{{item.mobileno}} </td>
      <td>{{item.issuedescription}} </td>
      <td>{{item.productname}} </td>
    </tr>
  </table>
  </body>
  
  